.smspace {
    height:20px;
}

#cloud { 
    cursor: pointer;
    cursor: hand; 
}

#demoapp {
    width:100%;
    height:400px;
}

#demomenu {
    background-color:#fff;
}

#democontent {
    float:left;
    width:100%;
    height:100%;
    background-color:#f9f9f9;
    overflow:scroll;
}

#spinnerContainer{
    width:100%;
    height:100%;
    text-align: center;
    padding-top: 170px;
}

.centerHorizontal {
    margin: 0 auto;
}
